<launch>
    <node pkg="emns_invpend_swingup" name="pendulum_ILC_swingup_node" type="pendulum_ILC_swingup_node.py" output="screen">
        <param name="b_hardware_connected" value= "false" />
        <param name="b_southpole_up" value= "false" />
        
        <param name="vicon_callback_topic_actuator" value="/vicon/actuator_20cm/catheter_tip" />
        <param name="vicon_callback_topic_pendulum" value="/vicon/inv_pend/pendulum_base" />

        <param name="trajectory_beta_enabled" value= "true" />
        <param name="equilibrium_feedback_enabled" value= "true" />
        <param name="trajectory_feedback_enabled" value= "true" />

        <param name="trajectory_path" value= "/data/pendulum/swingup/trajectory.npz" />

        <param name="is_3D" value= "true" />

        <param name="b_use_prerecoded_integrator_torques" value= "false" />
        <param name="b_use_prerecoded_correction_angles" value= "true" />

        <param name="system_type" value="Navion" />
        <param name="calibration_file_name" value="Navion_1_2_Calibration_old.yaml" />
    </node>
    <!-- <node pkg="tnb_mns_driver" name="tnb_mns_driver_node" type="tnb_mns_driver_node" />
    <node pkg="control_utils" name="watchdog_state_jecb_node" type="watchdog_state_jecb.py" output="screen" />
    <node pkg="control_utils" name="watchdog_dc_link_voltage_jecb_node" type="watchdog_voltage_jecb.py" output="screen" /> -->
</launch>